<div id="views-tabs-linkbar">Download </div>
<form action="/downloadFrames" method=POST>
  <input type="hidden" name='format' value='excel'>
  <input type="hidden" name="rawdata">
  <input type="submit" id="csv_button" value="csv">
  <input type="submit" id="excel_button" value="excel">
</form>
<div >

<table class="tablesorter">
  <thead> 
    <tr>
      {{#each header}}
      <th>{{this}}</th>
      {{/each}}
    </tr> 
  </thead>
  <tbody>
      {{#each row}}
        <tr>
        {{#each this}}
          <td>
            {{this}}
          </td>
        {{/each}}
        </tr>
      {{/each}}
  </tbody>
</table>

</div>

<div id="views-tabs-linkbar">Download </div>
<form action="/downloadFrames" method=POST>
  <input type="hidden" name='format' value='excel'>
  <input type="hidden" name="rawdata">
  <input type="submit" id="csv_button" value="csv">
  <input type="submit" id="excel_button" value="excel">
</form>
